# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# pg env
# export default {
#   PG_HOST: '',
#   PG_PORT: '',
#   PG_DATABASE: '',
#   PG_USERNAME: '',
#   PG_PASSWORD: ''
# }
serverless-pg.ts

# others
.DS_Store